# dependencies
node_modules/
.pnp
.pnp.js

# build output
dist/
build/
out/
.next/
.nitro/
.output/
.vercel/
.vinxi/

# turborepo
.turbo/

# coverage
coverage/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-error.log*
bun.log
pnpm-debug.log*

# IDEs and OS
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend Database
*.db
*.db.backup
local.db
